<a href="https://colab.research.google.com/github/apollonov-evgeniy/2/blob/main/DE_SQL_ETL_DWH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ДЛЯ КОРРЕКТНОЙ РАБОТЫ ОКОННЫХ ФУНКЦИЙ SQLLITE в  COLAB необходимо обновление

# обновление sqlite3 из репозитория 
#!gdown --id 1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi 
#!mv _sqlite3.cpython-37m-x86_64-linux-gnu.so /usr /lib/python3.7/lib-dynload/ 
#import os 
#os.kill(os.getpid(), 9)

# ссылка на задание проекта
https://drive.google.com/file/d/1xhpltlKxmOfHfvq9ZUslgJ05oz1RaBUQ/view?usp=drivesdk

In [ ]:
# then MENU: Runtime > Restart runtime ...
#import sqlite3
#sqlite3.sqlite_version  # 3.22->3.38

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import os
import requests
from urllib.parse import urlencode
import shutil
import sqlite3
import re
from datetime import datetime 

# загрузка исходных данных

In [ ]:
conn_pg = create_engine('postgresql+psycopg2://jbjqegxd:q9i_krH_rWbf_G1uwNNzTDiirGJ0FVjy@tai.db.elephantsql.com/jbjqegxd') # на внешний сервер postgreSQL
conn = sqlite3.connect('db_work.db')
cursor = conn.cursor()

path_received = './' # данные project_de
path_archive = './archive' # архив

In [ ]:
# функции для вывода sql запросов sqllite  и postgreSQL
def select_pg(sql):
  return pd.read_sql(sql,conn_pg)

def select(sql):
  return pd.read_sql(sql,conn)

# Исходные данные
скрипт и исходные данные на я-диске в папке project_de, переносим все в текущую рабочую папку

In [ ]:
def insert_received_archive(): # зарузка исходных данных с яндекс диска
  base_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?'
  public_key = 'https://disk.yandex.ru/d/1uCVdQa9ytrmvA'  # Сюда вписываете ссылку я-диск

  # Получаем загрузочную ссылку
  final_url = base_url + urlencode(dict(public_key=public_key))
  response = requests.get(final_url)
  download_url = response.json()['href']

  # Загружаем папку и сохраняем в zip
  download_response = requests.get(download_url)
  with open('data.zip', 'wb') as f:   # Здесь укажите нужный путь к файлу
      f.write(download_response.content)

  shutil.unpack_archive('data.zip') # распаковка в текущий каталог и перенос файлов в текущий
  file_source = './project_de/'
  file_destination = './'
  
  get_files = os.listdir(file_source)
  for g in get_files:
      os.replace(file_source + g, file_destination + g)
  shutil.rmtree(file_source)
  os.remove('data.zip')

загружаем скрипт в базу PostgreSQL, в сервисе https://www.elephantsql.com/

In [ ]:
def drop_all_table_postgresql(): # очистка базы postgresql на внешнем сервере от всех таблиц
  sql = '''SELECT tablename FROM pg_tables
  WHERE schemaname='public';'''
  f = select_pg(sql)
  for i in f['tablename']:
    sql = f'''drop table if exists "{i}" cascade 
    '''
    conn_pg.execute(sql)

In [ ]:
def create_database_script_pg(): # создание базы postgresql на внешнем сервере из скрипта
  with open (f'{path_received}/ddl_dml.sql', "r",encoding = 'utf-8') as myfile:
    data = myfile.read()
  sql = f'''
  DROP TABLE IF EXISTS cards;
  DROP TABLE IF EXISTS clients;
  DROP TABLE IF EXISTS accounts;
  {data}'''

  conn_pg.execute(sql)
  os.remove(f'{path_received}/ddl_dml.sql')

In [ ]:

def drop_all_table_sqllite(): # удаление таблиц из базы sqllite, если уже была заполнена
  sql = '''SELECT name FROM sqlite_master WHERE type= "table";'''
  fg = select(sql)

  for i in fg['name']:
    if i != 'sqlite_sequence':
      sql = f'''DROP TABLE IF EXISTS "{i}"  
      '''
      conn.execute(sql)
  conn.commit()

## Создание хранилища данных

In [ ]:
def init_tables_dwh(): # cоздание схемы DWH sqllite
	sql_great_db ='''
	CREATE TABLE if not exists "dwh_fact_transactions" (
		"trans_id"	VARCHAR(128) UNIQUE,
		"trans_date"	DATETIME,
		"card_num"	VARCHAR(128),
		"oper_type"	VARCHAR(128),
		"amt"	REAL,
		"oper_result"	VARCHAR(128),
		"terminal"	VARCHAR(128),
		-- FOREIGN KEY("terminal") REFERENCES "dwh_dim_terminals_hist"("terminal_id"),
		-- FOREIGN KEY("card_num") REFERENCES "dwh_dim_cards_hist"("card_num")
		PRIMARY KEY("trans_id")
	);
	CREATE TABLE if not exists "dwh_fact_passport_blacklist" (
		"id"	INTEGER,
		"passport_num"	VARCHAR(128),
		"entry_dt"	DATE,	
		PRIMARY KEY("id" AUTOINCREMENT)
	);
	CREATE TABLE if not exists "dwh_dim_terminals_hist" (
		"id"	INTEGER,
		"terminal_id"	VARCHAR(128),
		"terminal_type"	VARCHAR(128),
		"terminal_city"	VARCHAR(128),
		"terminal_address"	VARCHAR(128),
		"effective_from"	DATE,
		"effective_to"	DATE DEFAULT '2199-12-31',
		"deleted_flg"	INTEGER DEFAULT 0,	
		PRIMARY KEY("id" AUTOINCREMENT)
	);

	CREATE TABLE if not exists "dwh_dim_cards_hist" (
		"id"	INTEGER,
		"card_num"	VARCHAR(128),
		"account_num"	VARCHAR(128),
		"effective_from"	DATE,
		"effective_to"	DATE DEFAULT '2199-12-31',
		"deleted_flg"	INTEGER DEFAULT 0,
		PRIMARY KEY("id" AUTOINCREMENT)
		-- FOREIGN KEY("account_num") REFERENCES "dwh_dim_accounts"("account_num")
	);
	CREATE TABLE if not exists "dwh_dim_accounts_hist" (
		"id"	INTEGER,
		"account_num"	VARCHAR(128),
		"valid_to"	DATE,
		"client"	VARCHAR(128),
		"effective_from"	DATE,
		"effective_to"	DATE DEFAULT '2199-12-31',
		"deleted_flg"	INTEGER DEFAULT 0,
		-- FOREIGN KEY("client") REFERENCES "dwh_dim_clients_hist"("client_id")
		PRIMARY KEY("id" AUTOINCREMENT)
	);
	CREATE TABLE  if not exists "dwh_dim_clients_hist" (
		"id"	INTEGER,
		"client_id"	VARCHAR(128),
		"last_name"	VARCHAR(128),
		"first_name"	VARCHAR(128),
		"patrinymic"	VARCHAR(128),
		"date_of_birth"	DATE,
		"passport_num"	VARCHAR(128),
		"passport_valid_to"	DATE,
		"phone"	VARCHAR(128),
		"effective_from"	DATE,
		"effective_to"	DATE DEFAULT '2199-12-31',
		"deleted_flg"	INTEGER DEFAULT 0,
		PRIMARY KEY("id" AUTOINCREMENT)
	);
	CREATE TABLE if not exists REP_FRAUD(
    event_dt DATETIME,
    passport varchar(128),
    fio varchar(364),
    phone varchar(128),
    event_type varchar(128),
    report_dt DATETIME 
);	
	'''
	cursor.executescript(sql_great_db)
	conn.commit()

## Extract
запрос файлов выгрузки, определение дат выгрузкиб загрузка, перенос таблиц

In [ ]:
def transactions_transfer(): # обработка файла транзакций TXT --> STG
    
    df_transactions = pd.read_csv(f'{table_transactions}.txt', 
                                  sep =';', decimal =',' )
    df_transactions['transaction_date'] = pd.to_datetime(df_transactions['transaction_date'],
                                                         format='%Y-%m-%d %H:%M:%S')
    df_transactions['transaction_id'] = df_transactions['transaction_id'].astype(object)
    df_transactions.rename(columns ={'transaction_id': 'trans_id', 'transaction_date':'trans_date', 'amount':'amt'}, inplace = True) 
    df_transactions.to_sql(f'stg_transactions_{curr_DMY}',
                           conn, if_exists='replace', index = False)    
    shutil.move(f'{path_received}/transactions_{curr_DMY}.txt',
               f'{path_archive}/transactions_{curr_DMY}.txt.backup')
def transactions_great_dwh(): # STG --> FACT    
    sql_great_trans = f''' /* 2 transaction fact*/
INSERT INTO dwh_fact_transactions (trans_id, trans_date, card_num, oper_type, amt, oper_result, terminal)
SELECT t1.trans_id,
       datetime(t1.trans_date),
       t1.card_num,
       t1.oper_type,
       t1.amt,
       t1.oper_result,
       t1.terminal
FROM stg_transactions_{curr_DMY} t1
EXCEPT
SELECT t2.trans_id,
       datetime(t2.trans_date),
       t2.card_num,
       t2.oper_type,
       t2.amt,
       t2.oper_result,
       t2.terminal
FROM dwh_fact_transactions t2;

DROP TABLE IF EXISTS stg_transactions_{curr_DMY};'''
    cursor.executescript(sql_great_trans)
    conn.commit()    

    print(f'{table_transactions}.txt загружено и обработано')

In [ ]:
def clients_transfer(): # postgreSQL --> STG sqllite
    sql_clients_transfer = '''
SELECT t2.*
FROM
  (SELECT DISTINCT t2.client
   FROM
     (SELECT DISTINCT cards.account
      FROM stg_card_id_uniq
      INNER JOIN cards ON stg_card_id_uniq.card_num = cards.card_num) t1
   INNER JOIN accounts t2 ON t1.account = t2.account) t1
INNER JOIN clients t2 ON t1.client = t2.client_id'''
    db_clients = select_pg(sql_clients_transfer).rename(columns ={'patronymic': 'patrinymic'})#, inplace = True)
    db_clients.to_sql(f'stg_clients_{curr_DMY}',
                        conn, if_exists='replace', index = False)

def clients_great_dwh(): # STG --> SCD2  HIST    
    sql_great_clients =f'''
CREATE VIEW IF NOT EXISTS v_client AS 
SELECT
   client_id,
   last_name,
   first_name,
   patrinymic,
   date_of_birth,
   passport_num,
   passport_valid_to,
   phone 
FROM
   dwh_dim_clients_hist 
WHERE
   DATE('{curr_YMD}') BETWEEN effective_from AND effective_to 
   AND deleted_flg = 0;

CREATE TABLE IF NOT EXISTS stg_clients_new_rows AS 
SELECT
   t1.client_id,
   t1.last_name,
   t1.first_name,
   t1.patrinymic,
   t1.date_of_birth,
   t1.passport_num,
   t1.passport_valid_to,
   t1.phone,
   t1.create_dt 
FROM
   stg_clients_{curr_DMY} t1 
   LEFT JOIN
      v_client t2 
      ON t1.client_id = t2.client_id 
WHERE
   t2.client_id IS NULL;
CREATE TABLE IF NOT EXISTS stg_clients_deleted_rows AS 
SELECT
   t1.client_id,
   t1.last_name,
   t1.first_name,
   t1.patrinymic,
   t1.date_of_birth,
   t1.passport_num,
   t1.passport_valid_to,
   t1.phone 
FROM
   v_client t1 
   LEFT JOIN
      stg_clients_{curr_DMY} t2 
      ON t1.client_id = t2.client_id 
WHERE
   t2.client_id IS NULL;
CREATE TABLE IF NOT EXISTS stg_clients_changed_rows AS 
SELECT
   t1.client_id,
   t1.last_name,
   t1.first_name,
   t1.patrinymic,
   t1.date_of_birth,
   t1.passport_num,
   t1.passport_valid_to,
   t1.phone,
   t1.create_dt,
   t1.update_dt 
FROM
   stg_clients_{curr_DMY} t1 
   INNER JOIN
      v_client t2 
      ON t1.client_id = t2.client_id 
      AND 
      (
         t1.last_name <> t2.last_name 
         OR t1.first_name <> t2.first_name 
         OR t1.patrinymic <> t2.patrinymic 
         OR t1.date_of_birth <> t2.date_of_birth 
         OR t1.passport_num <> t2.passport_num 
         OR t1.passport_valid_to <> t2.passport_valid_to 
         OR t1.phone <> t2.phone 
      );

INSERT INTO
   dwh_dim_clients_hist( client_id, last_name, first_name, patrinymic, date_of_birth, passport_num, passport_valid_to, phone, effective_from ) 
   SELECT
      client_id,
      last_name,
      first_name,
      patrinymic,
      date_of_birth,
      passport_num,
      passport_valid_to,
      phone,
      create_dt 
   FROM
      stg_clients_new_rows;
UPDATE
   dwh_dim_clients_hist 
SET
   effective_to = 
   ( SELECT
         DATE(update_dt, '-1 day') 
      FROM
         stg_clients_changed_rows 
      WHERE
         client_id = stg_clients_changed_rows.client_id
   )
WHERE
   client_id IN 
   (
      SELECT
         client_id 
      FROM
         stg_clients_changed_rows
   )
   AND effective_to = '2199-12-31';

INSERT INTO
   dwh_dim_clients_hist( client_id, last_name, first_name, patrinymic, date_of_birth, passport_num, passport_valid_to, phone, effective_from ) 
   SELECT
      client_id,
      last_name,
      first_name,
      patrinymic,
      date_of_birth,
      passport_num,
      passport_valid_to,
      phone,
      update_dt 
   FROM
      stg_clients_changed_rows;

UPDATE
   dwh_dim_clients_hist 
SET
   effective_to = DATE('{curr_YMD}', '-1 day') 
WHERE
   client_id IN 
   (
      SELECT
         client_id 
      FROM
         stg_clients_deleted_rows
   )
   AND effective_to = '2199-12-31';

INSERT INTO
   dwh_dim_clients_hist( client_id, last_name, first_name, patrinymic, date_of_birth, passport_num, passport_valid_to, phone, effective_from, deleted_flg ) 
   SELECT
      client_id,
      last_name,
      first_name,
      patrinymic,
      date_of_birth,
      passport_num,
      passport_valid_to,
      phone,
      '{curr_YMD}',
      1 
   FROM
      stg_clients_deleted_rows;
DROP TABLE stg_clients_deleted_rows;
DROP TABLE stg_clients_changed_rows;
DROP TABLE stg_clients_new_rows;
DROP TABLE stg_clients_{curr_DMY};
DROP view v_client;
'''
    cursor.executescript(sql_great_clients)
    conn.commit()  

    print('clients сформировано и обработано')

In [ ]:
def cards_transfer():  # postgreSQL --> STG sqllite
  sql_card_transfer = '''
SELECT t2.*
FROM stg_card_id_uniq t1
INNER JOIN cards t2 
ON t1.card_num = t2.card_num'''
  db_cards = select_pg(sql_card_transfer).rename(columns ={'account': 'account_num'})
  db_cards.to_sql(f'stg_cards_{curr_DMY}',
                            conn, if_exists='replace', index = False)  
  
def cards_great_dwh(): # STG --> SCD2  HIST
  sql_great_cards =f'''
CREATE VIEW IF NOT EXISTS v_card AS 
SELECT
  card_num,
  account_num
FROM
   dwh_dim_cards_hist 
WHERE
   DATE('{curr_YMD}') BETWEEN effective_from AND effective_to 
   AND deleted_flg = 0;

CREATE TABLE IF NOT EXISTS stg_cards_new_rows AS 
SELECT
   t1.card_num,
   t1.account_num,
   t1.create_dt 
FROM
   stg_cards_{curr_DMY} t1 
   LEFT JOIN
      v_card t2 
      ON t1.card_num = t2.card_num
WHERE
   t2.card_num IS NULL;
CREATE TABLE IF NOT EXISTS stg_cards_deleted_rows AS 
SELECT
   t1.card_num,
   t1.account_num 
FROM
   v_card t1 
   LEFT JOIN
      stg_cards_{curr_DMY} t2 
      ON t1.card_num = t2.card_num 
WHERE
   t2.card_num IS NULL;
CREATE TABLE IF NOT EXISTS stg_cards_changed_rows AS 
SELECT
   t1.card_num,
   t1.account_num,
   t1.create_dt,
   t1.update_dt 
FROM
   stg_cards_{curr_DMY} t1 
   INNER JOIN
      v_card t2 
      ON t1.card_num = t2.card_num 
      AND 
      t1.account_num <> t2.account_num;

INSERT INTO
   dwh_dim_cards_hist( card_num, account_num, effective_from ) 
   SELECT
      card_num,
      account_num,
      create_dt 
   FROM
      stg_cards_new_rows;
UPDATE
   dwh_dim_cards_hist 
SET
   effective_to = 
   ( SELECT
         DATE(update_dt, '-1 day') 
      FROM
         stg_cards_changed_rows 
      WHERE
         card_num = stg_cards_changed_rows.card_num
   )
WHERE
   card_num IN 
   (
      SELECT
         card_num 
      FROM
         stg_cards_changed_rows
   )
   AND effective_to = '2199-12-31';

INSERT INTO
   dwh_dim_cards_hist( card_num, account_num, effective_from ) 
   SELECT
      card_num,
      account_num,
      update_dt 
   FROM
      stg_cards_changed_rows;

UPDATE
   dwh_dim_cards_hist 
SET
   effective_to = DATE('{curr_YMD}', '-1 day') 
WHERE
   card_num IN 
   (
      SELECT
         card_num 
      FROM
         stg_cards_deleted_rows
   )
   AND effective_to = '2199-12-31';

INSERT INTO
   dwh_dim_cards_hist( card_num, account_num, effective_from, deleted_flg ) 
   SELECT
      card_num,
      account_num,
      '{curr_YMD}',
      1 
   FROM
      stg_cards_deleted_rows;
DROP TABLE stg_cards_deleted_rows;
DROP TABLE stg_cards_changed_rows;
DROP TABLE stg_cards_new_rows;
DROP TABLE stg_cards_{curr_DMY};
DROP view v_card;
'''
  cursor.executescript(sql_great_cards)
  conn.commit()  
  print('cards сформировано и обработано')

In [ ]:
def accounts_transfer():    # postgreSQL --> STG sqllite 
  sql_accounts_transfer = '''
SELECT t2.*
FROM
  (SELECT DISTINCT cards.account
   FROM stg_card_id_uniq
   INNER JOIN cards ON stg_card_id_uniq.card_num =cards.card_num) t1
INNER JOIN accounts t2 ON t1.account=t2.account '''
  db_accounts=select_pg(sql_accounts_transfer).rename(columns ={'account': 'account_num'})#, inplace = True)
  db_accounts.to_sql(f'stg_accounts_{curr_DMY}',
                         conn, if_exists='replace', index = False)
  
def accounts_great_dwh():    # STG --> SCD2  HIST
  sql_great_accounts = f'''
CREATE VIEW IF NOT EXISTS v_account AS 
SELECT
   account_num, 
   valid_to,
   client
FROM
   dwh_dim_accounts_hist 
WHERE
   DATE('{curr_YMD}') BETWEEN effective_from AND effective_to 
   AND deleted_flg = 0;

CREATE TABLE IF NOT EXISTS stg_accounts_new_rows AS 
SELECT
   t1.account_num, 
   t1.valid_to,
   t1.client,
   t1.create_dt 
FROM
   stg_accounts_{curr_DMY} t1 
   LEFT JOIN
      v_account t2 
      ON t1.account_num = t2.account_num 
WHERE
   t2.account_num IS NULL;
CREATE TABLE IF NOT EXISTS stg_accounts_deleted_rows AS 
SELECT
   t1.account_num, 
   t1.valid_to,
   t1.client
FROM
   v_account t1 
   LEFT JOIN
      stg_accounts_{curr_DMY} t2 
      ON t1.account_num = t2.account_num 
WHERE
   t2.account_num IS NULL;
CREATE TABLE IF NOT EXISTS stg_accounts_changed_rows AS 
SELECT
   t1.account_num, 
   t1.valid_to,
   t1.client,
   t1.create_dt,
   t1.update_dt 
FROM
   stg_accounts_{curr_DMY} t1 
   INNER JOIN
      v_account t2 
      ON t1.account_num = t2.account_num 
      AND 
      (
         t1.valid_to <> t2.valid_to 
         OR t1.client <> t2.client
      );

INSERT INTO
   dwh_dim_accounts_hist(account_num, valid_to, client, effective_from ) 
   SELECT
      account_num,
      valid_to,
      client,
      create_dt 
   FROM
      stg_accounts_new_rows;
UPDATE
   dwh_dim_accounts_hist 
SET
   effective_to = 
   ( SELECT
         DATE(update_dt, '-1 day') 
      FROM
         stg_accounts_changed_rows 
      WHERE
         account_num = stg_accounts_changed_rows.account_num
   )
WHERE
   account_num IN 
   (
      SELECT
         account_num 
      FROM
         stg_accounts_changed_rows
   )
   AND effective_to = '2199-12-31';

INSERT INTO
   dwh_dim_accounts_hist( account_num, valid_to, client, effective_from ) 
   SELECT
      account_num,
      valid_to,
      client,
      update_dt 
   FROM
      stg_accounts_changed_rows;

UPDATE
   dwh_dim_accounts_hist 
SET
   effective_to = DATE('{curr_YMD}', '-1 day') 
WHERE
   account_num IN 
   (
      SELECT
         account_num 
      FROM
         stg_accounts_deleted_rows
   )
   AND effective_to = '2199-12-31';

INSERT INTO
   dwh_dim_accounts_hist( account_num, valid_to, client, effective_from, deleted_flg ) 
   SELECT
      account_num,
      valid_to,
      client,
      '{curr_YMD}',
      1 
   FROM
      stg_accounts_deleted_rows;
DROP TABLE stg_accounts_deleted_rows;
DROP TABLE stg_accounts_changed_rows;
DROP TABLE stg_accounts_new_rows;
DROP TABLE stg_accounts_{curr_DMY};
DROP view v_account;
'''
  cursor.executescript(sql_great_accounts)
  conn.commit()  
  print('accounts сформировано и обработано')

In [ ]:
def terminals_transfer(): # XSLX --> STG sqllite

  df_terminals = pd.read_excel(f'{table_terminals}.xlsx')
  df_terminals.to_sql(f'stg_terminals_{curr_DMY}',
                         conn, if_exists='replace', index = False)
  shutil.move(f'{path_received}/terminals_{curr_DMY}.xlsx',
               f'{path_archive}/terminals_{curr_DMY}.xlsx.backup')
  
def terminals_great_dwh(): # STG --> SCD2  HIST
  # вариант без промежуточных таблиц
  sql_great_terminals = f'''
  /*   terminals hist*/ 
  /* scd2.sql */
   /* вставка измененых значений*/
    /* expire the existing */
UPDATE dwh_dim_terminals_hist
SET effective_to = DATE('{curr_YMD}', '-1 day')
WHERE EXISTS
    (SELECT a.terminal_type
     FROM stg_terminals_{curr_DMY} a
     WHERE dwh_dim_terminals_hist.terminal_id = a.terminal_id
       AND (dwh_dim_terminals_hist.terminal_type <> a.terminal_type
            OR dwh_dim_terminals_hist.terminal_city <> a.terminal_city
            OR dwh_dim_terminals_hist.terminal_address <> a.terminal_address)
       AND dwh_dim_terminals_hist.effective_to = '2199-12-31' );

/* add a new row for the changing  */
INSERT INTO dwh_dim_terminals_hist (terminal_id, terminal_type, terminal_city, terminal_address, effective_from, effective_to, deleted_flg)
SELECT DISTINCT b.terminal_id,
                b.terminal_type,
                b.terminal_city,
                b.terminal_address,
                '{curr_YMD}',
                '2199-12-31',
                0
FROM dwh_dim_terminals_hist a,
     stg_terminals_{curr_DMY} b
WHERE a.terminal_id = b.terminal_id
  AND (a.terminal_type <> b.terminal_type
       OR a.terminal_city <> b.terminal_city
       OR a.terminal_address <> b.terminal_address)
  AND EXISTS
    (SELECT *
     FROM dwh_dim_terminals_hist x
     WHERE b.terminal_id = x.terminal_id
       AND x.effective_to = DATE('{curr_YMD}', '-1 day')
       AND NOT EXISTS
         (SELECT *
          FROM dwh_dim_terminals_hist y
          WHERE b.terminal_id = y.terminal_id
            AND y.effective_to = '2199-12-31' )) ;

/* добавить новый*/ /* add new  */
INSERT INTO dwh_dim_terminals_hist (terminal_id, terminal_type, terminal_city, terminal_address, effective_from, effective_to, deleted_flg)
SELECT terminal_id,
       terminal_type,
       terminal_city,
       terminal_address,
       '{curr_YMD}',
       '2199-12-31',
       0
FROM stg_terminals_{curr_DMY}
WHERE terminal_id NOT IN
    (SELECT y.terminal_id
     FROM dwh_dim_terminals_hist x,
          stg_terminals_{curr_DMY} y
     WHERE x.terminal_id = y.terminal_id ) ;

/*удаление или добавление через deleted_flg*/ -- изменение даты

UPDATE dwh_dim_terminals_hist
SET effective_to = DATE('{curr_YMD}', '-1 day')
WHERE terminal_id in
    (SELECT DISTINCT t1.terminal_id
     FROM dwh_dim_terminals_hist t1
     LEFT JOIN stg_terminals_{curr_DMY} t2 ON t1.terminal_id=t2.terminal_id
     WHERE t2.terminal_id IS NULL
     UNION ALL SELECT DISTINCT t3.terminal_id
     FROM stg_terminals_{curr_DMY} t3
     INNER JOIN dwh_dim_terminals_hist t4 ON t3.terminal_id=t4.terminal_id
     WHERE t4.deleted_flg = 1 )
  AND effective_to = '2199-12-31' ;

/* добавление и изменение флага */
INSERT INTO dwh_dim_terminals_hist (terminal_id, terminal_type, terminal_city, terminal_address, effective_from, effective_to, deleted_flg)
SELECT a.terminal_id,
       a.terminal_type,
       a.terminal_city,
       a.terminal_address,
       '{curr_YMD}',
       '2199-12-31',
       1-a.deleted_flg
FROM dwh_dim_terminals_hist a
WHERE a.terminal_id in
    (SELECT DISTINCT t1.terminal_id
     FROM dwh_dim_terminals_hist t1
     LEFT JOIN stg_terminals_{curr_DMY} t2 ON t1.terminal_id=t2.terminal_id
     WHERE t2.terminal_id IS NULL
     UNION ALL SELECT DISTINCT t3.terminal_id
     FROM stg_terminals_{curr_DMY} t3
     INNER JOIN dwh_dim_terminals_hist t4 ON t3.terminal_id=t4.terminal_id
     WHERE t4.deleted_flg = 1)
  AND a.effective_to = DATE('{curr_YMD}', '-1 day')
  AND NOT EXISTS
    (SELECT *
     FROM dwh_dim_terminals_hist b
     WHERE b.terminal_id in
         (SELECT DISTINCT t1.terminal_id
          FROM dwh_dim_terminals_hist t1
          LEFT JOIN stg_terminals_{curr_DMY} t2 ON t1.terminal_id=t2.terminal_id
          WHERE t2.terminal_id IS NULL
          UNION ALL SELECT DISTINCT t3.terminal_id
          FROM stg_terminals_{curr_DMY} t3
          INNER JOIN dwh_dim_terminals_hist t4 ON t3.terminal_id=t4.terminal_id
          WHERE t4.deleted_flg = 1)
       AND b.effective_to = '2199-12-31');
DROP TABLE stg_terminals_{curr_DMY};                   
'''
  cursor.executescript(sql_great_terminals)
  conn.commit()  

  print(f'{table_terminals}.xlsx загружено и обработано')

In [ ]:
def passport_blacklist_transfer():  # XLSX -->  STG
     
    df_passport_blacklist = pd.read_excel(f'{table_passport_blacklist}.xlsx')
    df_passport_blacklist.rename(columns ={'date': 'entry_dt', 'passport':'passport_num'}, inplace = True)
    df_passport_blacklist.to_sql(f'stg_passport_blacklist_{curr_DMY}',
                         conn, if_exists='replace', index = False)
    shutil.move(f'{path_received}/passport_blacklist_{curr_DMY}.xlsx',
               f'{path_archive}/passport_blacklist_{curr_DMY}.xlsx.backup')
def passports_blacklist_great_dwh():  # STG --> FACT   
    sql_great_passports = f''' 
/*  1  passport  fact*/
INSERT INTO dwh_fact_passport_blacklist (entry_dt, passport_num)
SELECT date(t1.entry_dt),
       t1.passport_num
FROM stg_passport_blacklist_{curr_DMY} t1
EXCEPT
SELECT date(t2.entry_dt),
       t2.passport_num
FROM dwh_fact_passport_blacklist t2;

DROP TABLE stg_passport_blacklist_{curr_DMY};
'''
    cursor.executescript(sql_great_passports)
    conn.commit()
    print(f'{table_passport_blacklist}.xlsx загружено и обработано')

In [ ]:
def init_archive_folder(): # создание папки archive
  try:
      os.mkdir(path_archive)
  except OSError:
      print('Папка archive существует')
  else:
      print('Папка archive создана')

In [ ]:
def fraud_1():
  sql =f'''
WITH 
passport_f1 AS (
  SELECT client_id,
          passport_num AS passport,
          (last_name || ' ' || first_name || ' ' || patrinymic) AS fio,
          phone,
          1 AS event_type
   FROM dwh_dim_clients_hist
   WHERE passport_num IN
       (SELECT t1.passport_num
        FROM dwh_fact_passport_blacklist t1
        WHERE t1.entry_dt <= '{curr_YMD}'
        UNION SELECT t2.passport_num
        FROM dwh_dim_clients_hist t2
        WHERE t2.passport_valid_to IS NOT NULL
          AND t2.passport_valid_to < '{curr_YMD}'
          AND '{curr_YMD}' BETWEEN t2.effective_from AND t2.effective_to ) 
      ),
account_f1 AS (
   SELECT t1.account_num,
          t2.*
   FROM dwh_dim_accounts_hist t1
   INNER JOIN passport_f1 t2 ON t1.client = t2.client_id
   AND '{curr_YMD}' BETWEEN t1.effective_from AND t1.effective_to),
card_f1 AS (
  SELECT t1.*,
          t2.card_num
   FROM account_f1 t1
   INNER JOIN dwh_dim_cards_hist t2 ON t1.account_num = t2.account_num
   AND '{curr_YMD}' BETWEEN t2.effective_from AND t2.effective_to
   ),
fraud_1 AS  (
  SELECT a.trans_date AS event_dt,
          b.passport,
          b.fio,
          b.phone,
          b.event_type,
          datetime('now') AS report_dt
   FROM dwh_fact_transactions a
   INNER JOIN card_f1 b ON a.card_num = b.card_num
   WHERE date(a.trans_date) = '{curr_YMD}'
   ORDER BY a.trans_date
   )
INSERT INTO REP_FRAUD (event_dt, passport, fio, phone, event_type, report_dt)
SELECT event_dt,
       passport,
       fio,
       phone,
       event_type,
       datetime('now')
FROM fraud_1;'''
  cursor.executescript(sql)
  conn.commit()
  print(f'fraud - 1 за {curr_YMD} обработано ')

In [ ]:
def fraud_2():
  sql =f'''
WITH 
account_f2 AS (
  SELECT t1.account_num,
        t2.passport_num AS passport,
        (t2.last_name || ' ' || t2.first_name || ' ' || t2.patrinymic) AS fio,
            t2.phone,
            2 AS event_type 
  from dwh_dim_accounts_hist t1
  inner join dwh_dim_clients_hist t2
  on t1.client =t2.client_id
  where t1.valid_to < '{curr_YMD}'
  AND '{curr_YMD}' BETWEEN t1.effective_from AND t1.effective_to
  AND '{curr_YMD}' BETWEEN t2.effective_from AND t2.effective_to
  ),
card_f2 AS
  (SELECT t1.*,
          t2.card_num
   FROM account_f2 t1
   INNER JOIN dwh_dim_cards_hist t2 
   ON t1.account_num = t2.account_num
   AND '{curr_YMD}' BETWEEN t2.effective_from AND t2.effective_to
   ),
fraud_2 AS (      
   SELECT a.trans_date AS event_dt,
          b.passport,
          b.fio,
          b.phone,
          b.event_type,
          datetime('now') as report_dt
   FROM dwh_fact_transactions a
   INNER JOIN card_f2 b 
   ON a.card_num = b.card_num
   WHERE date(a.trans_date) = '{curr_YMD}'
   ORDER BY a.trans_date
    )
insert into REP_FRAUD (event_dt, passport, fio, phone, event_type, report_dt) 
select     event_dt,
           passport,
           fio,
           phone,
           event_type,
           datetime('now')
FROM       fraud_2;'''
  cursor.executescript(sql)
  conn.commit()
  print(f'fraud - 2 за {curr_YMD} обработано ')

In [ ]:
def fraud_3():
  sql =f'''
WITH 
stg_transaction_current_date AS (
  SELECT t1.trans_date,
          t2.account_num,
          t3.terminal_city
   FROM dwh_fact_transactions t1
   JOIN dwh_dim_cards_hist t2 ON t1.card_num = t2.card_num
   AND '{curr_YMD}' BETWEEN t2.effective_from AND t2.effective_to
   JOIN dwh_dim_terminals_hist t3 ON t1.terminal = t3.terminal_id
   AND '{curr_YMD}' BETWEEN t3.effective_from AND t3.effective_to
   WHERE datetime(t1.trans_date) BETWEEN
       (SELECT datetime(min(trans_date), '-1 hour')
        FROM dwh_fact_transactions
        WHERE date(trans_date) = '{curr_YMD}') AND
       (SELECT max(trans_date)
        FROM dwh_fact_transactions
        WHERE date(trans_date) = '{curr_YMD}') 
      ),
stg_accounts_f3 AS  (
  SELECT t1.account_num,
          t2.trans_date,
          t2.terminal_city,
          lag(t2.terminal_city) over(PARTITION BY t1.account_num
                                     ORDER BY t2.trans_date) AS last_city,
          lag(t2.trans_date) over(PARTITION BY t1.account_num
                                  ORDER BY t2.trans_date) AS last_city_date
   FROM
     (SELECT account_num,
             count(DISTINCT terminal_city) AS cnt_city
      FROM stg_transaction_current_date
      GROUP BY account_num
      HAVING count(DISTINCT terminal_city) > 1) t1
   LEFT JOIN stg_transaction_current_date t2 ON t1.account_num=t2.account_num),
stg_current_clients AS (
  SELECT t1.account_num,
          t2.passport_num AS passport,
          (t2.last_name || ' ' || t2.first_name || ' ' || t2.patrinymic) AS fio,
          t2.phone,
          3 AS event_type
   FROM dwh_dim_accounts_hist t1
   INNER JOIN dwh_dim_clients_hist t2 ON t1.client =t2.client_id
   WHERE '{curr_YMD}' BETWEEN t1.effective_from AND t1.effective_to
     AND '{curr_YMD}' BETWEEN t2.effective_from AND t2.effective_to 
    ),
stg_date_fraud AS  (
   SELECT min(t1.trans_date) AS event_dt,
          t1.account_num
   FROM stg_accounts_f3 t1
   WHERE t1.terminal_city != t1.last_city
     AND datetime(t1.trans_date) < datetime(t1.last_city_date, '+1 hour')
   GROUP BY t1.account_num
   ),
fraud_3 AS (
  SELECT t1.event_dt,
          t2.passport,
          t2.fio,
          t2.phone,
          t2.event_type
   FROM stg_date_fraud t1
   LEFT JOIN stg_current_clients t2 ON t1.account_num = t2.account_num
   )
INSERT INTO REP_FRAUD (event_dt, passport, fio, phone, event_type, report_dt)
SELECT event_dt,
       passport,
       fio,
       phone,
       event_type,
       datetime('now')
FROM fraud_3;'''
  cursor.executescript(sql)
  conn.commit()
  print(f'fraud - 3 за {curr_YMD} обработано ')

In [ ]:
def fraud_4():
  sql =f'''
WITH 
stg_amt_current_date AS  (
  SELECT t1.trans_date,
          t1.amt,
          t1.oper_result,
          t2.account_num
   FROM dwh_fact_transactions t1
   JOIN dwh_dim_cards_hist t2 ON t1.card_num = t2.card_num
   AND '{curr_YMD}' BETWEEN t2.effective_from AND t2.effective_to
   WHERE datetime(t1.trans_date) BETWEEN
       (SELECT datetime(min(trans_date), '-20 minutes')
        FROM dwh_fact_transactions
        WHERE date(trans_date) = '{curr_YMD}') AND
       (SELECT max(trans_date)
        FROM dwh_fact_transactions
        WHERE date(trans_date) = '{curr_YMD}') 
    ),
stg_amt_f4 AS  (
  SELECT account_num,
          trans_date,
          oper_result,
          amt,
          LAG(oper_result, 1) OVER w AS prev_r_1,
          LAG(amt, 1) OVER w AS prev_a_1,
          LAG(oper_result, 2) OVER w AS prev_r_2,
          LAG(amt, 2) OVER w AS prev_a_2,
          LAG(oper_result, 3) OVER w AS prev_r_3,
          LAG(amt, 3) OVER w AS prev_a_3,
          LAG(trans_date, 3) OVER w AS prev_date_3
   FROM stg_amt_current_date 
   WINDOW w AS (PARTITION BY account_num
                                          ORDER BY trans_date)
    ),
stg_date_fraud AS  (
  SELECT account_num,
          trans_date AS event_dt
   FROM stg_amt_f4
   WHERE oper_result = 'SUCCESS'
     AND prev_r_1 = 'REJECT'
     AND prev_r_2 = 'REJECT'
     AND prev_r_3 = 'REJECT'
     AND amt < prev_a_1
     AND prev_a_1 < prev_a_2
     AND prev_a_2 < prev_a_3
     AND datetime(trans_date) < datetime(prev_date_3, '+20 minutes') 
     ),
stg_current_clients AS  (
  SELECT t1.account_num,
          t2.passport_num AS passport,
          (t2.last_name || ' ' || t2.first_name || ' ' || t2.patrinymic) AS fio,
          t2.phone,
          4 AS event_type
   FROM dwh_dim_accounts_hist t1
   INNER JOIN dwh_dim_clients_hist t2 ON t1.client =t2.client_id
   WHERE '{curr_YMD}' BETWEEN t1.effective_from AND t1.effective_to
     AND '{curr_YMD}' BETWEEN t2.effective_from AND t2.effective_to 
     ),
fraud_4 AS (     
  SELECT t1.event_dt,
        t2.passport,
        t2.fio,
        t2.phone,
        t2.event_type
  FROM stg_date_fraud t1
  LEFT JOIN stg_current_clients t2 ON t1.account_num = t2.account_num
  )
insert into REP_FRAUD (
            event_dt,
            passport,
            fio,
            phone,
            event_type,
            report_dt                
        ) 
select     event_dt,
           passport,
           fio,
           phone,
           event_type,
           datetime('now')
FROM       fraud_4;'''
  cursor.executescript(sql)
  conn.commit()
  print(f'fraud - 4 за {curr_YMD} обработано ')

In [ ]:
# main

# обработка и подготовка исходных даннх
if input('загрузить с яндекс диска и запустить скрипт? y/n  -  ') == 'y':
  insert_received_archive() # зарузка исходных данных с яндекс диска
  print('загрузка.....')
# загрузка скрипта в postgreSQL
  drop_all_table_postgresql() # очистка таблиц PostgreSQL
  create_database_script_pg() # загрузка скрипта
# подготовка DWH
if input('создать DWH в первый раз y/n  -  ') == 'y':
  drop_all_table_sqllite() 
  init_tables_dwh()
  init_archive_folder()
# формирование списка файлов для обработки
files_received = os.listdir(path_received)
date_files_received= set()

for i in files_received:
  try:
    date_files_received.add(datetime.strptime(re.findall(r'\d+', i)[0],'%d%m%Y' ).date())
  except: # если в каталоге другие файлы
    continue
date_files_received = sorted(list(date_files_received))
print('обнаружены файлы за ','\n'.join(map(str, date_files_received)),' ')
# если пусто, то нет файлов для обработки

if date_files_received: # если в папке есть файлы с датами  
  
  for current_date_trans in date_files_received:
# обработка пакета файлов по датам
    curr_DMY = current_date_trans.strftime("%d%m%Y")
    curr_YMD = str(current_date_trans.strftime("%Y-%m-%d"))

    print('\nобрабатываются данные за ',current_date_trans)
    # основная обработка
# ----------------------transaction---------------------------------------------
    table_transactions = f'{path_received}/transactions_{curr_DMY}'
    transactions_transfer() # TXT --> STG
    transactions_great_dwh() # STG --> FACT 
# ---------------------------------------------------    
    ''' передать уникальные значения card_num из общей таблицы транзакций sqllite в posreSQL, 
    оттуда вытащить на основании этого стекущие данные cards, accounts, clients, исходим из того, что обработка файлов идет сразу после появления'''
    print('загрузка из  базы posgreSQL')
    sql_card_num = '''SELECT DISTINCT card_num
                    FROM dwh_fact_transactions;'''
    select(sql_card_num).to_sql('stg_card_id_uniq',conn_pg, if_exists='replace', index = False)
# ---------------------------------card----------------------------------
    cards_transfer()  # postgreSQL --> STG sqllite  
    cards_great_dwh() # STG --> SCD2  HIST
# ----------------------------accounts-----------------------------------------
    accounts_transfer() # postgreSQL --> STG sqllite
    accounts_great_dwh() # STG --> SCD2  HIST
#-------------------------------clients---------------------------------------
    clients_transfer() # postgreSQL --> STG sqllite
    clients_great_dwh() # STG --> SCD2  HIST
# ----------------------terminals---------------------------------------------    
    table_terminals = f'{path_received}/terminals_{curr_DMY}'
    terminals_transfer() # XSLX --> STG
    terminals_great_dwh() # STG --> SCD2  HIST
# ----------------------passport_blacklist---------------------------------------------
    table_passport_blacklist = f'{path_received}/passport_blacklist_{curr_DMY}'
    passport_blacklist_transfer() # XLSX -->  STG
    passports_blacklist_great_dwh()  # STG --> FACT
    fraud_1() # просроченные или заблокированные паспорта id=1
    fraud_2() # недействующий договор
    fraud_3() # в разных городах в течении часа
    fraud_4() # попытка подбора суммы
    if input(f'продолжить обработку после {curr_YMD}   y/n   - ') == 'n':
      break

else:
  print('нет новых данных')
conn_pg.dispose()

загрузить с яндекс диска и запустить скрипт? y/n  -  y
загрузка.....
создать DWH в первый раз y/n  -  y
Папка archive существует
обнаружены файлы за  2021-03-01
2021-03-02
2021-03-03

обрабатываются данные за  2021-03-01
.//transactions_01032021.txt загружено и обработано
загрузка из  базы posgreSQL
cards сформировано и обработано
accounts сформировано и обработано
clients сформировано и обработано
.//terminals_01032021.xlsx загружено и обработано
.//passport_blacklist_01032021.xlsx загружено и обработано
fraud - 1 за 2021-03-01 обработано
fraud - 2 за 2021-03-01 обработано
fraud - 3 за 2021-03-01 обработано
fraud - 4 за 2021-03-01 обработано
продолжить обработку после 2021-03-01   y/n   - y

обрабатываются данные за  2021-03-02
.//transactions_02032021.txt загружено и обработано
загрузка из  базы posgreSQL
cards сформировано и обработано
accounts сформировано и обработано
clients сформировано и обработано
.//terminals_02032021.xlsx загружено и обработано
.//passport_blacklist_02032021.xlsx загружено и обработано
fraud - 1 за 2021-03-02 обработано
fraud - 2 за 2021-03-02 обработано
fraud - 3 за 2021-03-02 обработано
fraud - 4 за 2021-03-02 обработано
продолжить обработку после 2021-03-02   y/n   - y

обрабатываются данные за  2021-03-03
.//transactions_03032021.txt загружено и обработано
загрузка из  базы posgreSQL
cards сформировано и обработано
accounts сформировано и обработано
clients сформировано и обработано
.//terminals_03032021.xlsx загружено и обработано
.//passport_blacklist_03032021.xlsx загружено и обработано
fraud - 1 за 2021-03-03 обработано
fraud - 2 за 2021-03-03 обработано
fraud - 3 за 2021-03-03 обработано
fraud - 4 за 2021-03-03 обработано
продолжить обработку после 2021-03-03   y/n   - n

In [ ]:
sql = ''' select * from REP_FRAUD;'''
df = select(sql)
df

,event_dt,passport,fio,phone,event_type,report_dt
0,2021-03-01 02:54:34,8115 161624,Приемский Екатерина Анатольевна,+7 924 776-64-54,3,2022-08-30 16:18:34
1,2021-03-01 22:36:38,5771 567535,Лазутченков Даниил Евдокиевич,+7 910 653-83-33,4,2022-08-30 16:18:34
2,2021-03-02 00:02:50,3032 452883,Пначин Яков Богданович,+7 974 261-98-59,1,2022-08-30 16:18:53
3,2021-03-02 00:08:03,3032 452883,Пначин Яков Богданович,+7 974 261-98-59,1,2022-08-30 16:18:53
4,2021-03-02 00:08:16,3032 452883,Пначин Яков Богданович,+7 974 261-98-59,1,2022-08-30 16:18:53
...,...,...,...,...,...,...
1626,2021-03-03 23:39:45,6510 927714,Узенева Нелли Геворковна,+7 965 317-46-87,2,2022-08-30 16:19:15
1627,2021-03-03 23:44:15,6510 927714,Узенева Нелли Геворковна,+7 965 317-46-87,2,2022-08-30 16:19:15
1628,2021-03-03 23:50:07,6510 927714,Узенева Нелли Геворковна,+7 965 317-46-87,2,2022-08-30 16:19:15
1629,2021-03-03 01:00:13,3365 607538,Рубакова Оксана Давидовна,+7 950 562-20-57,3,2022-08-30 16:19:15
1630,2021-03-03 13:50:12,1502 319717,Дегтярева Валентина Аминовна,+7 927 381-98-94,4,2022-08-30 16:19:16

In [ ]:
#sql ='SELECT name from sqlite_master where type= "table"'
#select(sql)

                          name
0        dwh_fact_transactions
1  dwh_fact_passport_blacklist
2              sqlite_sequence
3       dwh_dim_terminals_hist
4           dwh_dim_cards_hist
5        dwh_dim_accounts_hist
6         dwh_dim_clients_hist
7                    REP_FRAUD